@model MemoryGame.Board

@{
    int count = 0;
}

<h2>Memory Game Board</h2>
<table id="table_board">
    @for (int i = 0; i < Model.m; i++)
    {
        <tr>
            @for (int j = 0; j < Model.n; j++)
            {
                var imageUrl = Model.cells[count].Image;
                var cardId = Model.cells[count].Id;
                var matchClass = Model.cells[count].IsMatched ? "matched" : "";
                var disabledAttribute = Model.cells[count].IsMatched ? "disabled" : "";
                <td class="game-cell @matchClass" data-id="@cardId" data-image="@imageUrl">
                    <img src="images/cards/backside.png" class="card-back">
                    <img src="@imageUrl" class="card-front">
                </td>
                count++;
            }
        </tr>
    }
</table>

<p>@(Model.matchedCells) Matches Found</p>
