@model MemoryGameMVC.Models.BoardViewModel

<h2>Memory Game Board</h2>
@if (Model.GameBoard.matchedCells != Model.GameBoard.GetM()  * Model.GameBoard.GetN())
{
    <table id="table_board">
        @for (int i = 0; i < Model.GameBoard.GetM(); i++)
        {
            <tr>
                @for (int j = 0; j < Model.GameBoard.GetN(); j++)
                {
                    var imageUrl = Model.GameBoard.cells[i][j].Image;
                    var isFlipped = Model.GameBoard.cells[i][j].IsFlipped;
                    var isMatched = Model.GameBoard.cells[i][j].IsMatched;
                    <td class="game-cell" data-x="@i" data-y="@j">
                        
                        @if (isFlipped)
                        {
                            <img src="@imageUrl" class="card-front is-flipped">
                            <img src="@Url.Content("~/images/backside.png")" class="card-back is-flipped">
                        }
                        else if (isMatched)
                        {
                            <img src="@Url.Content("~/images/match.png")" class="card-back is-matched">
                        }
                        else
                        {
                            <img src="@imageUrl" class="card-front">
                            <img src="@Url.Content("~/images/backside.png")" class="card-back">
                        }
                    </td>
                }
            </tr>
        }
    </table>
    <p>Matches Found: <span id="matchesCount">@Model.MatchedCellsCount</span></p>

}
else
{
     <p>End of Game</p>
}
