@model MemoryGameMVC.Models.BoardViewModel

@{
    int count = 0;
}

<h2>Memory Game Board</h2>
@if (!Model.GameBoard.end)
{
    <table id="table_board">
        @for (int i = 0; i < Model.GameBoard.m; i++)
        {
            <tr>
                @for (int j = 0; j < Model.GameBoard.n; j++)
                {
                    var imageUrl = Model.GameBoard.cells[count].Image;
                    var matchClass = Model.GameBoard.cells[count].IsMatched ? "matched" : "";
                    var disabledAttribute = Model.GameBoard.cells[count].IsMatched ? "disabled" : "";
                    <td class="game-cell @matchClass" data-id="@count" data-image="@imageUrl">
                        <img src="images/cards/backside.png" class="card-back">
                        <img src="@imageUrl" class="card-front">
                    </td>
                    count++;
                }
            </tr>
        }
    </table>
    <p>Matches Found: <span id="matchesCount">@Model.MatchedCellsCount</span></p>

}
else
{
     <p>End of Game></p>
}
